body, html {
    background-color: black;
    color: #eee;
}

.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
}

.myPicture {
    width: 150px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    right: 0;
    left: 0;
    opacity: 0;
    display: block;
    box-sizing: border-box;
    
    transition: opacity 1s ease-in-out, padding 1s ease-in-out;
}

.titleSection {
    margin-top: 70px;
    text-align: center;
    cursor: pointer;
    
    transition: margin-top 1s ease-in-out;
}

.navbar {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.navbarlinks {
    color: #eee;
}

.navbarlinks:hover {
    color: #ccc;
}

.separator {

}

.contentSection {
    padding: 5px 10px 5px 10px;
    text-align: justify;
    margin-top: 80px;
    opacity: 0;

    transition: opacity .5s ease-in-out, margin-top 2.5s;
}

/**
 * About
 */
.contentSection > h2 {
    font-size: 20px;
    text-align: center;
}

/**
 * About
 */
.pictures {
    height: 150px;
    opacity: .7;
    cursor: pointer;
}

.pictures:hover {
    opacity: 1;
}
    
.category {
    color: #aaa;
}

.activ {
    color: #ccc;
    text-decoration: underline;
}
