html, body{
    font-family: 'Lobster', cursive;
}

#logo{
    font-size: 64px;
    letter-spacing: 5px;
}

#logo > a:hover{
    text-decoration: none;
    color: white;
}

.invalid-feedback{
    font-weight: 400 !important;
    font-size: 13px !important;
}