body, html {
    background-color: black;
    color: #eee;
}

.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
}

@media(min-width: 1024px)
{
    .container-fluid {
        position: relative;
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
    }
}

.myPicture {
    width: 150px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    right: 0;
    left: 0;
    opacity: 0;
    display: block;
    box-sizing: border-box;
    
    transition: opacity 1s ease-in-out, padding 1s ease-in-out;
}

.titleSection {
    margin-top: 70px;
    text-align: center;
    cursor: pointer;
    
    transition: margin-top 1s ease-in-out;
}

.navbar {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.max-500{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.navbarlinks {
    color: #eee;
}

.navbarlinks:hover {
    color: #ccc;
}

.separator {

}

.contentSection {
    padding: 5px 10px 5px 10px;
    margin-top: 80px;
    opacity: 0;

    transition: opacity .5s ease-in-out, margin-top 2.5s;
}

/**
 * About
 */
.contentSection > h2 {
    font-size: 20px;
    text-align: center;
}

/**
 * About
 */
.pictures {
    height: 150px;
    opacity: .7;
    cursor: pointer;
}

.pictures:hover {
    opacity: 1;
}
    
.category {
    color: #aaa;
    margin-left: 1em;
    margin-right: 1em;
}

.category:hover {
    color: white;
}

.activ {
    color: #ccc;
    text-decoration: underline;
}


/* 
 * Modal
 */
.pictureModal {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.contentImg {
    width: 100%;
    max-height: 50hv;
}

.img {
    margin: auto;
    left: 0;
    right: 0;
    width: auto;
    max-height: 80vh;
    padding: 500px;

    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-attachment: fixed;
    background-size: 400px;
    display: block;

    transition: padding 1s ease-in-out;
}

@media(max-width: 720px)
{
    
    .img {
        margin: auto;
        left: 0;
        right: 0;
        height: auto;
        max-width: 100%;

        background-repeat: no-repeat;
        background-position: 50% 8%;
        background-attachment: fixed;
        background-size: 400px;
        display: block;

        transition: padding 1s ease-in-out;
    }

}

.modalDescription {
    position: relative;

    top: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 30px;
    z-index: 200;
}

.pictureTitle {
    text-align: center;
}

.descriptionPicture {

}